{{ form_start(form, {'action': path('f_devs_article_search_results')}) }}
    <div class="input-append">
        {{ form_widget(form.text) }}
        <button class="btn" type="submit">{{ 'search.find'|trans }}</button>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
