{% extends '::base.html.twig' %}
{% block content %}
    <h2>{{ 'page.author.title' | trans({}, 'FDevsUserBundle') }}</h2>
    {{ user.firstName ~ ' ' ~ user.lastName ~ ' aka ' ~ user.username }}<br/>
    {{ 'user.email' | trans({}, 'FDevsUserBundle') }}: {{ user.email }}
    <br/>
    {% for socialName, socialValue in user.social %}
        {{ socialName ~ ':' ~ socialValue }}<br/>
    {% endfor %}
{% endblock %}
