{% extends '::base.html.twig' %}
{% block title article.title ~ ' : ' ~ parent() %}
    {% block content %}
        <div id="main-content" class="container">
        <div class="row-fluid">
        <section id="articles" class="span8 clearfix">
            {% set menuItem = knp_menu_get('FDevsArticleBundle:BreadCrumbs:base', [], {'article':article}) %}
            {{ knp_menu_render(menuItem,{'currentAsLink': false}) }}
            <article>
                <header>
                    <h1><a href="#">{{ article.title }}</a></h1>

                    <div class="article-info">
                        <div class="article-info-top clearfix">
                            <div class="pull-left">
                                <time>{{ article.createdAt | date("g:ia, d M Y") }}</time>
                                <b class="author">
                                    {% if article.authors | length > 1 %}
                                        | Авторы:
                                    {% elseif article.authors | length == 1 %}
                                        | Автор:
                                    {% endif %}
                                </b>
                                {% for author in article.authors %}
                                    <a href="{{ path('f_devs_article_homepage',{"username":author.username~'.'}) }}">{{ author }}</a>
                                {% endfor %}
                            </div>
                            <div class="pull-right">
                                Комментариев: <a class="count-comments"
                                                 href="{{ path('f_devs_article_article',{"slug":article.id, 'username': app.request.get('username')}) }}#disqus_thread">-</a>
                            </div>
                        </div>
                        <div class="article-info-bottom">
                            {% for category in article.categories %}
                                <a href="{{ path('f_devs_article_category', {"category":category.id}) }}"><span
                                            class="label label-inverse">{{ category }}</span></a>
                            {% endfor %}
                        </div>
                    </div>
                </header>
                <div class="article-content">
                    {{ f_devs_article_render(article) }}
                </div>
                <footer>

                </footer>
                <div class="comments">
                    {{ knp_disqus_render('4devs') }}
                </div>
            </article>
        </section>
    {% endblock %}
