{# This source file is subject to the MIT license that is bundled #}
{# with this source code in the file LICENSE. #}

{# @author Maxim Bogdanov <sin666m4a1fox@gmail.com> #}
<div class="sidebar-block">
    <h4>Категории: </h4>

    <div class="content">
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{{ path('f_devs_article_category', {"category":category.id,'user':app.request.get('user')}) }}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="sidebar-block">
    <h4>Тэги:</h4>

    <div class="content">

        {% for tag in tags %}

            <a href="{{ path('f_devs_article_tag', {"tag": tag.id,'user':app.request.get('user')}) }}"><span
                        class="label label-inverse {#label-{{ random(['middle', 'small', 'big', 'large']) }}#}">{{ tag.title }}</span></a>

        {% endfor %}

    </div>
</div>
